@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
.technologies {
  background: #203040; }

#site-header .navbar-wrapper a {
  color: #fff; }

#site-footer {
  background: #1B2A38; }

::-moz-selection {
  background: #F24130;
  color: #FFFFFF; }

::selection {
  background: #F24130;
  color: #FFFFFF; }

.jumbotron {
  background-color: #203040; }
  .jumbotron .btn-outline-inverse {
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }
    .jumbotron .btn-outline-inverse:hover, .jumbotron .btn-outline-inverse:focus {
      background: #FFFFFF;
      color: #203040; }

pre {
  background: rgba(247, 247, 247, 0.6); }
  pre code {
    color: inherit;
    background-color: transparent; }
  pre .hljs {
    background: none; }

body.docs {
  background: #F7F7F7; }

#content code {
  color: #7C7C7C;
  background-color: #F7F7F7; }

#sidebar-wrapper {
  background: #203040; }

#page-content-wrapper .nav a {
  color: #7C7C7C; }
  #page-content-wrapper .nav a:hover {
    color: #4E4E4E; }
  #page-content-wrapper .nav a i {
    font-size: 18px; }

.sidebar-nav > li a:hover {
  background: #1B2A38; }
.sidebar-nav > li a.active {
  border-left: 3px solid #F24130;
  color: #fff; }
.sidebar-nav > .sidebar-brand a {
  background: #1B2A38; }
  .sidebar-nav > .sidebar-brand a:hover {
    background: #1B2A38; }
